<div class="form-wrapper">
<h2>Add New Product</h2>


<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)"><br>
  <label>
    Name:
    <input type="text" name="name" ngModel required />
  </label><br/>
  
  <label>
    Description:
    <input type="text"  name="description" ngModel />
  </label><br/>
  
  <label>
    Price:
    <input type="number" name="price" ngModel required />
  </label><br/>
  
  <label>
    Category:
    <input type="text" name="category" ngModel />
  </label><br/>
  
  <label>
    Image:
    <input type="file" (change)="onImageSelected($event)" />
  </label><br/>
  
  <button type="submit">Add Product</button>
</form>
</div>