

<div class="card">
  <h2 class="login-title">sign up</h2>
  <div class="card-body">
    <div class="mb-3">
      <label for="first name" class="form-label">first name</label>
      <input type="text" class="form-control" id="text" placeholder="first name">
    </div>
    <div class="mb-3">
      <label for="last name" class="form-label">last name</label>
      <input type="text" class="form-control" id="text" placeholder="last name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="************">
    </div>
    <div class="mb-3">
      <label for="phone number" class="form-label">phone number </label>
      <input type="tel" class="form-control" id="tel" placeholder="+216 ** *** ***">
    </div>
    <button class="btn btn-success">signup</button>
    
  </div>
</div>
